@charset "UTF-8";
/* nav bar */
.bodymainbox{
	width: 100%;
	height: 875px;
	background-color: #E6E6E6;
}

#logoimg2{
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.TeamName{
	font-weight: 900;
	font-size: 25px;
	margin-left: 20px;
	color: white;
	cursor: pointer;
}

.jumpbox{
	width: 1500px;
	height: 45px;
}

/* body */
#backimg{
	width: 100%;
	height: 875px;
	float: left;
}

.leftbar1{
	position: absolute;
	float: left;
	margin-top: 200px;
	width: 30px;
	height: 200px;
	background-color: #F78181;
	z-index: 10;
	border-top-right-radius: 20px;	
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
/* 	border-bottom-right-radius: 20px; */
/*   	transition: width 3s; */
}

/* .leftbar1:hover { */
/*   width: 300px; */
/* } */

.bodymain{
	width: 1400px;
	height: 800px;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	position: absolute;
	float: left;
	margin-left: 260px;
	margin-top: 35px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #A4A4A4;
}

.Car2Introduce{
	width: 1398px;
	height: 50px;
	background-color: #CED8F6;
	float: left;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	line-height: 45px;
	color: #A4A4A4;
}

.memberimgbox1{
	width: 1398px;
	height: 748px;
	background-color: white;
	float: left;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#cameraView{
	width:1398px;
	height: 460px;
	z-index: 10;
	float: left;
}

#controllimg{
	width: 1398px;
	height: 748px;	
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 11;
	position: absolute;
	float: left;
	margin-left: -1398px;
}

#handimgF{
	width: 200px;
	height:200px;
	border-radius:85px; 
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -1030px;
	margin-top: 310px;
}

#break{
	width: 90px;
	height:90px;
	border-radius:85px; 
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -950px;
	margin-top: 495px;
}

#acel{
	width: 70px;
	height:70px;
	border-radius:85px; 
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -910px;
	margin-top: 495px;
}

#on{
	width: 50px;
	height: 50px;
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -753px;
	margin-top: 478px;
}

#off{
	width: 50px;
	height: 50px;
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -753px;
	margin-top: 478px;
}

#on2{
	width: 50px;
	height: 50px;
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -720px;
	margin-top: 478px;
}

#off2{
	width: 50px;
	height: 50px;
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -720px;
	margin-top: 478px;
}

#on3{
	width: 50px;
	height: 50px;
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -686px;
	margin-top: 478px;
}

#off3{
	width: 50px;
	height: 50px;
	z-index: 12;
	position: absolute;
	float: left;
	margin-left: -686px;
	margin-top: 478px;
}











/* -------------------------- */

/*메뉴 들어가는 부분*/
.panel {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  position: fixed;
  z-index: 9999;
  top: 0;
  margin-top: 61px;
  height: 875px;
  width: 300px;
  background-color: #383b42;
}

.panel .ninja-btn {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: inline-block;
  float: left;
  cursor: pointer;
  padding: 30.285714px 31px;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 20%;
  height: 20.18181818px;
}
.panel .ninja-btn span,
.panel .ninja-btn span:before,
.panel .ninja-btn span:after {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.panel .ninja-btn span {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 9.09090909px;
}
.panel .ninja-btn span:before,
.panel .ninja-btn span:after {
  content: "";
  position: absolute;
  left: 0;
}
.panel .ninja-btn span:before {
  top: -9.09090909px;
}
.panel .ninja-btn span:after {
  top: 9.09090909px;
}

/*메뉴 클릭후, 메뉴 버튼을 활성화 시켰을때 속성*/
.panel .ninja-btn.active span {
  background-color: transparent;
}
.panel .ninja-btn.active span:before,
.panel .ninja-btn.active span:after {
  top: 0;
}
.panel .ninja-btn.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.panel .ninja-btn.active span:after {
  -webkit-transition-delay: 0.09s;
  -moz-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  -msa-transition-delay: 0.09s;
  transition-delay: 0.09s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
.panel ul {
  width:100%;
  list-style-type: none;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: 15%;
  left: 0;
  right: 60px;
  height: auto;
  text-align: left;
}

.panel ul li,
.panel ul a {
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 1.4;
  padding: 0;
  font-weight: 200;
}
.panel ul li{
  height:45px;
  border-top: 1px solid #474a50;
}
.panel ul li.menu-label a{
  padding:11px 0 0 40px;
  height:100%;
  display:block;
  font-size: 17px;
  text-transform: lowercase;
}
.panel ul li.menu-label:first-child {
  border-top: 0;
}

.panel ul li.menu-contacts a {
  font-size: 16px;
  text-transform: inherit;
}

/* 안보이는 패널위치고정 */
.panel-overlay {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.panel.left {
  left: -800px;
}
/*패널 버튼 부분 위치*/
.panel.left .ninja-btn {
  left: 790px;
}
/* 패널이 활성화 되었을때 */
.panel.left.active {
  left: 0;
  overflow: scroll;
}
.panel.left.active .ninja-btn {
  left: 100%;
  margin-left: -90px;
}

.panel ul li.sub-menu{
  background: #2e333c;
  padding:11px 0 0 50px;
}

.mo-menu-title{
	font-size: 30px;
	color: white;
	margin-left: 30px;
}


/* 잡기능  ----------------- */
#wifer1{
	width: 250px;
	height: 30px;
	position: absolute;
	z-index: 10;
	margin-left: -1020px;
	margin-top: 318px;
	transform : rotate(-5deg);
}

.wifer1{
	width: 50px;
	height: 7px;
	z-index: 11;
	position: absolute;
	transform : rotate(200deg);	
	background-color: #2E2E2E;
	margin-left: 470px;
	margin-top: 420px;
	border-top-right-radius: 5px;
}

#speedcheck{
	width: 80px;
	height: 32px;
	position: absolute;
	z-index: 13;
	margin-left: -738px;
	margin-top: 377px;	
	border-radius: 2px;
    border: 2px solid #424242;
}

.navi{
	width: 110px;
	height: 110px;
	position: absolute;
	z-index: 50;
	margin-left: 643px;
	margin-top:230px;
	background-color: #819FF7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    border: 2px solid #5882FA;
    opacity: 0.4;
}

#map{
	width:105px;
	height:110px;
	opacity: 0.5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


/* HICHAR MENU ******************************* */
/* 속도 게이지 */
.highcharts-credits{
	opacity: 0;
}

#container1 {
    height: 370px; 
}

.highcharts-figure1, .highcharts-data-table table {
    min-width: 398px; 
    max-width: 398px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

